<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Targets -->
    <!-- <targets> -->
    <!--     <target xsi:type="file" name="logfile" fileName="logfile.txt" /> -->
    <!--     <target xsi:type="Console" name="logconsole" /> -->
    <!-- </targets> -->

    <!-- Rules -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
    </rules>
</nlog>
